<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        
        <title>Boolzapp</title>
    </head>
    <body>
        <div id="root">
            <!-- inizio main -->
            <main class="container clearfix">
                <aside class="cont-left">
                    <div class="cont-utente gray ">
                        <div class="desc1">
                            <img class="avatar" src="img/avatar_io.jpg" alt="me">
                            <span class="">Nome Utente</span>
                        </div>
                        <div>
                            <i class="fas fa-circle-notch"></i>
                            <i class="fas fa-comment-alt"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                    </div>  
                    <div class="cont-bell cyan">
                        <i class="fas fa-bell-slash bell"></i>
                        <div>
                            <span>Ricevi notifiche di nuovi messaggi</span>
                            <div><a href="#" class="darkgray small-font">Attiva notifiche desktop</a></div>
                        </div>
                    </div>
                    <!-- <div>
                        <input type="text" name="" id="" v-model="inputValue" @keyup.enter="" placeholder="⌕ Cerca o inizia una nuova chat">                 
                    </div> -->
                    <div class="cont-search clearfix">
                        <label class="search-btn" for="search"><i class="fas fa-search"></i></label>
                        <input id="search" class="search" type="text" placeholder=" Cerca o inizia una nuova chat">
                    </div>
                    <div class="cont-box">
                        <div class="box">
                            <img class="avatar" src="img/avatar_1.jpg" alt="">
                            <span>Michele</span>
                        </div>
                        <div class="box">
                            <img class="avatar" src="img/avatar_2.jpg" alt="">
                            <span>Fabio</span>
                        </div>
                        <div class="box">
                            <img class="avatar" src="img/avatar_3.jpg" alt="">
                            <span>Samuele</span>
                        </div>
                        <div class="box">
                            <img class="avatar" src="img/avatar_4.jpg" alt="">
                            <span>Luisa</span>
                        </div>
                    </div>
                </aside>
                <section class="cont-right">
                    <div class="cont-utente gray">
                        <div>
                            <img class="avatar" src="img/avatar_1.jpg" alt="">
                            <div class="desc">
                                <div><span>Michele</span></div>
                                <div><span class="small-font">Ultimo accesso oggi alle:</span></div>
                            </div>
                        </div>
                        <div>
                            <i class="fas fa-search"></i>
                            <i class="fas fa-paperclip"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                    </div>  
                    <div class="cont-chat">
                        <div class="chat">

                        </div>
                    </div>
                    <div class="cont-write gray">
                        <i class="far fa-smile"></i>
                        <input type="text" name="" id="" v-model="inputValue" @keyup.enter="" placeholder="Scrivi un messaggio">
                        <i class="fas fa-microphone"></i>
                    </div>
                </section>       
            </main>
            <!-- fine main -->
        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
        <script src="script.js"></script>
    </body>
</html>